:root {
  --light-shades: #e9e6ed;
  --light-accent: #eead6c;
  --main-brand: #4c94d4;
  --dark-accent: #874ab7;
  --dark-shades: #193c79;
}

/*Fonts library*/
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=PT+Serif&family=Sanchez&display=swap");



@import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext,vietnamese');



/*  Banner  */
.banner {
	width: 100%;
	display: block;
	overflow-x: hidden;
	background-color: #003366;
  color: #c4c3ca;
	font-family: 'Muli', sans-serif;
}
::selection {
	background-color: #000;
  color: #fff;
}
::-moz-selection {
	background-color: #000;
  color: #fff;
}
a:hover{
  text-decoration: none;
}
/* #Cursor
================================================== */

.cursor,
.cursor2,
.cursor3{
	position: fixed;
	border-radius: 50%;
	transform: translateX(-50%) translateY(-50%);
	pointer-events: none;
	left: -100px;
	top: 50%
}
.cursor{
	background-color: #fff;
	height: 0;
	width: 0;
	z-index: 99999;
}
.cursor2,.cursor3{
	height: 36px;
	width: 36px;
	z-index:99998;
	-webkit-transition:all 0.3s ease-out;
	transition:all 0.3s ease-out
}
.cursor2.hover,
.cursor3.hover{
	-webkit-transform:scale(2) translateX(-25%) translateY(-25%);
	transform:scale(2) translateX(-25%) translateY(-25%);
	border:none
}
.cursor2{
	border: 2px solid #fff;
	box-shadow: 0 0 22px rgba(255, 255, 255, 0.6);
}
.cursor2.hover{
	background: rgba(255,255,255,.1);
	box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);
}
@media screen and (max-width: 1200px){
	.cursor,.cursor2,.cursor3{
		display: none
	}
}

.shadow-title{
	position: fixed;
	top: 0;
	margin-top: 30px;
	left: 20px;
	width: 100%;
	height: 300%;
	text-align: left;
	font-family: 'Muli', sans-serif;
	-webkit-writing-mode: vertical-lr;
	writing-mode: vertical-lr;
	font-size: 18vw;
	line-height: 1;
	color: rgba(200,200,200,.1);
	background: linear-gradient(90deg, rgba(200,200,200,0), rgba(200,200,200,0.35));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 900;
	z-index: 1;
}
.section-parallax{
	position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  z-index: 2;
}
.section {
  position: relative;
	width: 100%;
	display: block;
}
.full-height {
	height: 100vh;
}
.section.z-bigger {
	z-index: 100;
}
.section.z-bigger-2 {
	z-index: 200;
}
.section-title-wrap{
	position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  z-index: 3;
}
.section-title-wrap p{
	letter-spacing: 2px;
	font-size: 22px;
	font-weight: 700;
	padding: 0;
  color: #6f598f;
}
.section-title-wrap h1{
	margin: 0;
	padding: 0;
	font-size: 3vw;
  letter-spacing: 3px;
	font-weight: 900;
  color: #fff;
	line-height: 1;
  text-transform: uppercase;
}
.padding-top-bottom {
	padding-top: 100px;
	padding-bottom: 100px;
}
.over-hide{
	overflow: hidden;
}
.background-dark {
	background-color: #101010;
}
.project-link-wrap{
	position: relative;
	display: block;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	cursor: pointer;
}
.project-link-wrap p{
	font-size: 100px;
	line-height: 80px;
	color: #c4c3ca;
	font-weight: 900;
	text-align: center;
	margin: 0 auto;
	cursor: pointer;
	opacity: 0.35;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.project-link-wrap:hover p{
	opacity: 0.15;
}

/* Case Study Showcase
================================================== */

.case-study-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 10;
	width: auto;
	margin: 0;
	padding: 8px 15px;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	list-style: none;
  background-color: rgba(31,32,41,.8);
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0,0,0,.8);
}
.case-study-wrapper .case-study-name {
	margin: 5px;
	display: inline-block;
}
.case-study-wrapper .case-study-name a {
	position: relative;
	list-style: none;
	margin: 0 auto;
	display: block;
	text-align: center;
	padding: 0;
	font-size: 14px;
	font-weight: 800;
	line-height: 1;
	letter-spacing: 2px;
	color: #8e8d9a;
	opacity: 0.5;
	text-decoration: none;
  text-transform: uppercase;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}
.case-study-wrapper .case-study-name a:hover {
	text-decoration: none;
}
.case-study-wrapper .case-study-name.active a {
	opacity: 1;
	color: #fff;
}
.case-study-images {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin:0;
	z-index:2;
}
.case-study-images li {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	list-style:none;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}
.case-study-images li .img-hero-background{
	position: absolute;
	width: calc(100% - 80px);
  max-width: 950px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position:center center;
	background-repeat:no-repeat;
	top: 50%;
	left: 50%;
	overflow: hidden;
	list-style:none;
	opacity: 0;
  border-radius: 20px;
  box-shadow: 0 0 50px rgba(0,0,0,.6);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}
.case-study-images li .img-hero-background img{
  width: 100%;
  height: 70vh;
  display: block;
}
.case-study-images li.show .img-hero-background {
	opacity: 1;
}
.case-study-images li .case-study-title{
	position: absolute;
	top: 0;
  height: 100%;
  text-align: center;
	left: 30px;
	display: block;
	opacity: 0;
	z-index: 19;
	letter-spacing: 1px;
	font-size: 14px;
	-webkit-writing-mode: vertical-lr;
	writing-mode: vertical-lr;
	font-weight: 400;
	line-height: 16px;
	color: #fff;
	font-style: italic;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}
.case-study-images li.show .case-study-title {
	opacity: 1;
	-webkit-transform: translateX(0);
	transform: translateX(0);
}
.case-study-images li .hero-number-back{
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	display: block;
	list-style:none;
	opacity: 0;
	font-size: 100px;
	font-weight: 900;
	line-height: 1;
	color: rgba(255,255,255,.2);
	z-index: 5;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}
.case-study-images li .hero-number{
	position: absolute;
	bottom: 40px;
	left: 50%;
	width: 40px;
	margin-left: -70px;
	display: block;
	letter-spacing: 2px;
	text-align: center;
	list-style:none;
	opacity: 0;
	font-size: 13px;
	font-weight: 300;
	line-height: 1;
	color: #fff;
	z-index: 6;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}
.case-study-images li .hero-number-fixed{
	position: absolute;
	bottom: 40px;
	left: 50%;
	margin-left: 30px;
	width: 40px;
	text-align: center;
	display: block;
	letter-spacing: 2px;
	list-style:none;
	font-size: 13px;
	font-weight: 300;
	line-height: 1;
	color: #fff;
	z-index: 6;
}
.case-study-images li .hero-number-fixed:before{
	position: absolute;
	content: '';
	top: 50%;
	left: -60px;
	width: 60px;
	height: 1px;
	z-index: 1;
	background-color: rgba(255,255,255,.4);
}
.case-study-images li.show .hero-number {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.case-study-images li.show .hero-number-back {
	opacity: 1;
}

/* #back to top arrow
================================================== */

.scroll-to-top{
	position: fixed;
	bottom: 30px;
	right: 30px;
	opacity: 0;
	visibility: hidden;
	width: 10px;
	height: 40px;
	z-index: 251;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 10px 40px;
	cursor: pointer;
	background-image: url('http://www.ivang-design.com/svg-load/parallax/arrow-up.png');
	transform: translateY(-15px);
	-webkit-transition: all 250ms linear;
	transition: all 250ms linear;
}
.scroll-to-top:hover{
	bottom: 32px;
}
.scroll-to-top.active-arrow{
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}

/* #Media
================================================== */

@media (max-width: 1200px) {
  .scroll-to-top{
    right: 13px;
  }
  .case-study-images li .case-study-title{
    left: 13px;
  }
}

@media (max-width: 991px) {
	.case-study-images li .hero-number-back{
		font-size: 26vw;
	}
}

@media (max-width: 767px) {
  .case-study-wrapper {
    background-color: rgba(31,32,41,.95);
    box-shadow: 0 0 10px rgba(0,0,0,.8);
  }
	.case-study-wrapper .case-study-name a {
		font-size: 11px;
		letter-spacing: 1px;
    text-align: center;
    margin: 5px;
	}
	.case-study-wrapper .case-study-name {
    margin: 0 auto;
    text-align: center;
	}
	.case-study-images li .hero-number-back{
		font-size: 32vw;
	}
}

/* #Link to page
================================================== */

.link-to-portfolio {
	  position: fixed;
    top: 30px;
    right: 30px;
    z-index: 20;
    cursor: pointer;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 3px;
    background-position: center center;
    background-size: cover;
    background-image: url('https://ivang-design.com/ig-logo.jpg');
    box-shadow: 0 0 0 2px rgba(255,255,255,.1);
    transition: opacity .2s, border-radius .2s, box-shadow .2s;
    transition-timing-function: ease-out;
}
.link-to-portfolio:hover {
    opacity: 0.8;
    border-radius: 50%;
    box-shadow: 0 0 0 20px rgba(255,255,255,.1);
}


/*  Banner ends  */





/*navbar*/

body {
  overflow-x: hidden;
}

.navbar {
  background-color: var(--main-brand);
}
.nav-link {
  color: var(--light-shades) !important;
}
/*For progress bar*/
.progress-container {
  width: 100%;
  height: 5px;
  background: var(--main-brand);
}

.progress-bar {
  height: 5px;
  background: var(--dark-shades);
  width: 0%;
}
/*Section*/
.section {
  padding-left: 10vw;
  padding-right: 10vw;
}
/*Full height*/
.full-height {
  min-height: 100vh;
  scroll-behavior: smooth;
}
.full-height-section {
  min-height: 100vh;
  padding-top: 25px;
}
/*Vertical Align To center*/
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/*For icons*/
.icon {
  width: 30px;
  fill: var(--light-shades);
}

.footer {
  background-color: var(--dark-shades);
  padding: 3vw;
  color: var(--light-shades);
}

h1,
h2,
h3 {
  font-family: "AbrilFatface" !important;
  font-weight: bold;
}
h4,
h5 {
  font-family: "PTSerif" !important;
  font-weight: bold;
}
h6,
p,
body {
  font-family: "Sanchez" !important;
  font-size: 1.2rem;
  scroll-behavior: smooth;
}

/* Meet the Team Section */
.meet-the-team {
  width: 90vw;
  text-align: center;
  margin: 0 auto;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.member {
  margin: 10px !important;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.member-img {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 40vh;
}

.member-details {
  padding: 5px;
  text-align: left;
}

@media only screen and (max-width: 1000px) {
  .meet-the-team {
    width: 90vw;
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 700px) {
  .meet-the-team {
    width: 80vw;
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
  }
}

/* Meet the Team Section End ~*/

/*About us starts*/
.brdr {
  border: 2px solid black;
}

.aboutus {
  /* height:100vh; */
}
.history {
  background-color: var(--dark-shades);
  color: var(--light-shades);
}
#heading {
  font-size: 300%;
  color: var(--dark-shades);
  padding: 2vw;
}
#logo {
  display: flex;
  justify-content: center;
  width: 30%;
  height: 20vh;
  margin: 0 auto;
}
#sub-head {
  color: var(--main-brand);
  font-size: 180%;
  text-align: center;
  margin: 5vw auto;
}
#content {
  text-align: center;
  font-size: 90%;
  padding: 3vw 10vw;
  line-height: 1.7;
}
#yp {
  width: 90%;
  height: 10vh;
  margin-left: 12vw;
}
#wie {
  width: 25vh;
  height: 25vh;
  margin-right: 20vw;
}
#ieee {
  display: flex;
  justify-content: center;
  width: 20%;
  height: 15vh;
  margin: 0 auto;
}
/* About us ends */


/*Speaker card begins*/
.speaker-background{
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='600' height='100' viewBox='0 0 600 100'%3E%3Cg stroke='%23FFF' stroke-width='0' stroke-miterlimit='10' %3E%3Ccircle fill='%23037B79' cx='0' cy='0' r='50'/%3E%3Ccircle fill='%2392DEBA' cx='100' cy='0' r='50'/%3E%3Ccircle fill='%23FFFFD8' cx='200' cy='0' r='50'/%3E%3Ccircle fill='%23CAF2FF' cx='300' cy='0' r='50'/%3E%3Ccircle fill='%236FCCFF' cx='400' cy='0' r='50'/%3E%3Ccircle fill='%23006EB4' cx='500' cy='0' r='50'/%3E%3Ccircle fill='%23037B79' cx='600' cy='0' r='50'/%3E%3Ccircle cx='-50' cy='50' r='50'/%3E%3Ccircle fill='%2353ac9a' cx='50' cy='50' r='50'/%3E%3Ccircle fill='%23ceefc1' cx='150' cy='50' r='50'/%3E%3Ccircle fill='%23ffffff' cx='250' cy='50' r='50'/%3E%3Ccircle fill='%239de0fe' cx='350' cy='50' r='50'/%3E%3Ccircle fill='%233e9cda' cx='450' cy='50' r='50'/%3E%3Ccircle fill='%2300789c' cx='550' cy='50' r='50'/%3E%3Ccircle cx='650' cy='50' r='50'/%3E%3Ccircle fill='%23037B79' cx='0' cy='100' r='50'/%3E%3Ccircle fill='%2392DEBA' cx='100' cy='100' r='50'/%3E%3Ccircle fill='%23FFFFD8' cx='200' cy='100' r='50'/%3E%3Ccircle fill='%23CAF2FF' cx='300' cy='100' r='50'/%3E%3Ccircle fill='%236FCCFF' cx='400' cy='100' r='50'/%3E%3Ccircle fill='%23006EB4' cx='500' cy='100' r='50'/%3E%3Ccircle fill='%23037B79' cx='600' cy='100' r='50'/%3E%3Ccircle cx='50' cy='150' r='50'/%3E%3Ccircle cx='150' cy='150' r='50'/%3E%3Ccircle cx='250' cy='150' r='50'/%3E%3Ccircle cx='350' cy='150' r='50'/%3E%3Ccircle cx='450' cy='150' r='50'/%3E%3Ccircle cx='550' cy='150' r='50'/%3E%3C/g%3E%3C/svg%3E");
  animation:fade-in 2s cubic-bezier(.39,.575,.565,1.000) both;
}
.speaker-card{
  padding:5px;
}
.speaker-image{
  width: 140px;
  padding: 0px;
  margin: 0px;
  position: absolute;
  top: 10%;
}
.speaker-description{

}
.speaker-description > .speaker-description-heading{
  font-weight: bold;
}
.speaker-animate:hover{
  border-color: rgb(15,15,15,0.7);
  background-color: rgb(15,15,15,0.1);
  animation:scale-up 0.6s cubic-bezier(.39,.575,.565,1.000) both;
}
.speaker-description > .speaker-description-designation{
  font-style: italic;
}
.speaker-description > .speaker-description-info{
  font-style: italic;
}

@-webkit-keyframes scale-up{
  0%{
    opacity:1;
    }
  100%{
    opacity: 1;
    transform:scale(1.1);
    }
  }

/*Speaker card ends*/
