:root {
  --light-shades: #e9e6ed;
  --light-accent: #eead6c;
  --main-brand: #4c94d4;
  --dark-accent: #874ab7;
  --dark-shades: #193c79;
}

/*Fonts library*/
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=PT+Serif&family=Sanchez&display=swap");

/*navbar*/




.navbar{
	background-color: var(--main-brand);
}
.nav-link{
	color: var(--light-shades) !important;
}
/*For progress bar*/
.progress-container {
  width: 100%;
  height: 2px;
  background: var(--main-brand);
}

.progress-bar {
  height: 2px;
  background: var(--dark-shades);
  width: 0%;
}

/*Full height*/
.full-height {
  min-height: 100vh;
}
/*Vertical Align To center*/
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/*For icons*/
.icon{
  width: 30px;
  fill: var(--light-shades);
}

.footer{
  background-color: var(--dark-shades);
  padding: 3vw;
  color: var(--light-shades);
}

h1,h2,h3{
  font-family: "AbrilFatface" !important;
  font-weight: bold;
}
h4,h5{
  font-family: "PTSerif" !important;
  font-weight: bold;
}
h6,p,body{
  font-family: "Sanchez" !important;
  font-size: 1.2rem;
}

/* Meet the Team Section */
.main-carousel {
  box-sizing: border-box;
}


.carousel-cell {
  background-color: #123570;
  height: 90vh;
  margin: 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.carousel-cell p,
.carousel-cell h4 {
  margin: 20px;
  color: rgb(238, 238, 238);
  max-width: 350px;
}

.member-img {
  width: 400px;
  object-fit: cover;
  height: 50vh;
}
/* Meet the Team Section End ~*/

/*About us starts*/
.brdr {
  border: 2px solid black;
}

.aboutus{
  /* height:100vh; */
}
.history{
  background-color: var(--dark-shades);
  color: var(--light-shades);
}
#heading{
  font-size:300%;
  color: var(--dark-shades);
  padding: 2vw;
}
#logo{
  display: flex;justify-content: center;
  width: 30%;
  height: 20vh;
  margin: 0 auto ;
}
#sub-head{
  color: var(--main-brand);
  font-size: 180%;
  text-align: center;
  margin: 5vw auto;
}
#content{
  
  text-align: center;
  font-size: 90%;
  padding: 3vw 10vw;
  line-height: 1.7;
}
#yp{
  width: 90%;
  height: 10vh;
  margin-left: 12vw;
}
#wie{
  width:25vh;
  height: 25vh;
  margin-right: 20vw;
}
#ieee{
  display: flex;justify-content: center;
  width: 20%;
  height: 15vh;
  margin: 0 auto ;
}
/* About us ends */