:root {
  --light-shades: #fafafa;
  --light-accent: #97b8d0;
  --main-brand: #F0bb68;
  --dark-accent: #b76572;
  --dark-shades: #3859ab;
  --lighter-accent: #e5ebf091;
}
body {
  background-color:#fff;
  font-family: "Avenir Next", "Avenir", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  color: var(--light-shades);
  line-height: 1.5;
}

h1 {
  font-family: "Texta", "Avenir Next", "Avenir", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
  font-size:3vw!important;
  background-color: var(--dark-shades);
  margin:0!important;
  padding: 3vw;
  z-index: 99999999999;
}



h2 {
  padding-top: 2vw;
  font-weight: 600;
  font-size: 28px;
  color:#5167a0;
  text-align: left;
}

.container {
  margin: 0 auto;
  padding: 2vw 0;
  transform: translateZ(0);
  text-align: center;
}

.form-footer {
  margin-top: 2em;
}

.ui-input {
  position: relative;
  padding: 0;
  border: 0;
}

.ui-input input {
  font-family: "Avenir Next", "Avenir", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  border: 0;
  background: none;
  padding: 16px 0 16px 0;
  font-size: 18px;
  outline: 0;
  width: 100%;
  tap-highlight-color: rgba(0, 0, 0, 0);
  touch-callout: none;
}

.ui-input input + label {
  position: relative;
  display: block;
  padding: 8px 0 8px 0;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.0875em;
  font-weight: 500;
  text-align: left;
}

p {
  position: relative;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.0875em;
  font-weight: 500;
  text-align: left;
  color: rgba(49, 47, 47, 0.788);
}

p::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
}

.ui-input input + label::before,
.ui-input input + label::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
}
.ui-input input + label::before {
  background-color: rgba(49, 47, 47, 0.788);
}

p::after {
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
  background-color:var(--dark-shades);
  height: 2px;
}
.ui-input input + label span {
  position: relative;
  color: rgba(49, 47, 47, 0.788);
  transition: color 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.ui-input input + label::after {
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
  background-color: var(--dark-shades);
  height: 2px;
}
.ui-input input + label span {
  position: relative;
  color: rgba(49, 47, 47, 0.788);
  transition: color 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.ui-input input + label span::after {
  content: attr(data-text);
  position: absolute;
  overflow: hidden;
  left: 0;
  transform: scaleX(1);
  white-space: nowrap;
  color: rgb(50, 122, 204);
  background-image: linear-gradient(
    to right,
    #39689e 50%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: 100% 50%;
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  backface-visibility: hidden;
  perspective: 1000;
  transform: translateZ(0);
  transition: background-position 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.ui-input input:focus + label::after,
.ui-input input.error + label::after,
.ui-input input:invalid + label::after,
.ui-input input.filled + label::after {
  transform: scaleX(1);
  transform-origin: left;
}
.ui-input input:focus + label span::after,
.ui-input input.error + label span::after,
.ui-input input:invalid + label span::after,
.ui-input input.filled + label span::after {
  background-image: linear-gradient(
    to right,
    #333 50%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: 0% 50%;
}

.ui-input input.filled {
  color: #333;
}
.ui-input input.filled + label::after {
  background-color: #333;
}
.ui-input input.filled + label span::after {
  background-image: linear-gradient(
    to right,
    #333 50%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: 0% 50%;
}

.ui-input input:focus {
  color: #4770a0;
}
.ui-input input:focus + label::after {
  background-color: #4770a0;
}
.ui-input input:focus + label span::after {
  background-image: linear-gradient(
    to right,
    #4770a0 50%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: 0% 50%;
}

.ui-input input.error,
.ui-input input:invalid {
  color: #25265e;
}
.ui-input input.error + label::after,
.ui-input input:invalid + label::after {
  background-color: #25265e;
}
.ui-input input.error + label span::after,
.ui-input input:invalid + label span::after {
  background-image: linear-gradient(
    to right,
    #25265e 50%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: 0% 50%;
}

.btn {
  border: 0;
  background-color: #3859ab;
  padding: 18px 30px;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 0.0875em;
  font-weight: 500;
  color: #ffffff;
  font-family: "Avenir Next", "Avenir", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  border-radius: 100px;
  outline: 0;
  transition: background-color 300ms cubic-bezier(0.215, 0.61, 0.355, 1),
    color 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn:focus,
.btn:active,
.btn:hover {
  background-color: #5283bb;
  color: white;
}

.__first,
.__second,
.__third,
.__fourth {
  animation-name: fadeIn;
  animation-duration: 180ms;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}

.__first {
  animation-delay: 0;
}

.__second {
  animation-delay: 80ms;
}

.__third {
  animation-delay: 180ms;
}

.__fourth {
  animation-delay: 360ms;
}

.__fifth {
  animation-delay: 540ms;
}

.__sixth {
  animation-delay: 720ms;
}

.__seventh {
  animation-delay: 900ms;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -25%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.form-container{
  border-radius: 15px;
  margin-left: 15vw;
  overflow:auto;
  box-shadow: 2px 5px 10px rgba(51, 51, 51, 0.404);
}

.main{
  margin-top: 2vw;
  z-index: 99999;
}
#illustration{
  margin-left: 2vw;
  position: fixed;
  width:35vw;
  height:35vw;
  margin-top: -2vw;
}

.fixed{
  position: fixed;
}

@media screen and (max-width:768px){
  h1 {
    font-family: "Texta", "Avenir Next", "Avenir", "Helvetica Neue", Helvetica,
      Arial, sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    font-size:10vw!important;
  }
  .form-container{
    border-radius: 15px;
    margin-left: 0vw;
    overflow:auto;
    box-shadow: 2px 5px 10px rgba(51, 51, 51, 0.404);
  }
}